<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book an appointment</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <header class="main-header">
        <h1>Booking Appointment App</h1>
    </header>
    <main>
        <form action="/" method="POST" >
            <div class="form-control">
                <label>Name:</label>
                <input type="text" name="title" />
                <label>Email:</label>
                <input type="email" name="email" />
                <label>Phone:</label>
                <input type="number" maxlength="10" name="phone" />
                <button type="submit">Book an appointment</button>
            </div>
        </form>
    </main>
</body>
</html>